.welcome{
    grid-template-columns: 100%;
    padding-bottom: 1.75rem;
    text-align: center;
}
.welcome h1{
  font-size: 3rem;
}
.welcome p{
  font-size: 1.5rem;
  font-weight: 700;
}
.menu a { 
    color: black;
}

.menu a:visited {
  color: black;
}

.menu a:hover {
  color: brown;
}
  
.menu a:active {
  color: brown;
}